* {
   margin: 0;
   padding: 0;
}

body {
   background: linear-gradient(rgb(45,45,45), rgb(43,43,43));
   height: 2000px;

   color: white;
   font-family: "Gilroy";
}

.noise {
   position: fixed;
   z-index: -1;
   width: 100%;
   height: 100%;
}

.glass {
   background: rgba(10, 10, 10, 0.1);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(8px);
   -webkit-backdrop-filter: blur(8px);
}

.navigate a {
   color: white;
   font-weight: 300;
   text-decoration: none;
   font-size: 25pt;
}

header h2 {
   font-weight: normal;
   font-size: 30pt;
}

